Find working home for if-ref-topo-yang and bwa-topo-yang

Discuss which working should progress work.

This was the comment from Tom and my reply:

> > Which WG is suitable for the two new ones?  TEAS? OPSAWG?  Tucked away in
> > CCAMP they might not be noticed.
> > 
> 
> [Italo Busi]
> 
> This is a good question. I have no strong opinion about the home WG.
> 
> The network topology model (RFC8345) has been developed by the I2RS WG which, if I am not mistaken, is now closed. The interface model (RFC8343) has been developed by the Netmod WG.
> 
> I do not think that the bandwidth availability would be in the scope of OPSAWG. Maybe of TEAS. The question would be whether bandwidth availability is generic only for the technologies in the scope of CCAMP WG or applies also to other technologies.
> 
> Having said that, there are other cases where generic models have been developed in CCAMP WG (e.g., RFC8632) so I do not see any strong need to change the home WG for these drafts
> 
> [/Italo Busi]
> 

See: https://mailarchive.ietf.org/arch/msg/ccamp/0omnfaDXfZu2nE6qi3z-ukLfcDA/

What about NMOP WG?